       
       
       @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


        /* CSS reset */
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-weight: normal;

        }



        body {

            font-size: 16px;
            font-family: "Roboto", sans-serif;
            background-color: rgb(167, 197, 223)
                /* rgb(58, 115, 166) */
            ;

        }

        *,
        *:before,
        *:after {
            box-sizing: inherit;
        }



        ol,
        ul {
            list-style: none;
        }

        img {
            max-width: 100%;
            height: auto;
            display: block;
        }

        /* CSS reset */

        .nav {
            background-color: aliceblue;
        }

        .nav>ul {
            display: flex;
            justify-content: space-around;
            list-style: none;
            padding: 10px;
        }

        .nav a {
            text-decoration: none;
            color: rgb(103, 164, 218);
            font-size: 20px;
            padding: 10px;
        }

        .nav a:hover {
            background-color: rgb(219, 235, 248);
            transition: 500ms;
        }

        main {
            max-width: 1200px;
            margin: 0 auto;
        }

        .social-footer {
            background-color: #222;
            color: #fff;
            text-align: center;
            padding: 20px 0;
        }

        .social-icons a {
            color: #fff;
            margin: 0 15px;
            font-size: 24px;
            transition: color 0.3s ease;
        }

        .social-icons a:hover {
            color: #ffcc00;
        }

        .social-footer p {
            margin-top: 10px;
            font-size: 14px;
        }

        /* introduksjon til meg */
        .container {
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-areas:
                "header header"
                "menu content"
                "footer footer";
            gap: 10px;

            padding: 10px;
        }

        @media (width < 500px) {

            /* koden inne her skjer kun hvis width < 500 */
            .container {
                grid-template-columns: 1fr;
                grid-template-areas:
                    "header"
                    "menu"
                    "content";
            }
        }

        .container>div {
            background-color: rgb(207, 228, 247);
            padding: 10px;
            font-size: 20px;
            text-align: center;
        }




        .header {
            font-size: 30px;
            grid-area: header;
        }

        .menu {
            grid-area: menu;

        }

        img {
            width: 100%;
            display: block;
        }

        .content {
            grid-area: content;
        }

        .favoritter {
            display: flex;
            flex-direction: column;
            gap: 40px;
            padding: 20px;

            margin: 0 auto;
            margin-top: 30px;
            box-shadow: 10px 10px 10px;
            background-color: aliceblue;
            max-width: 400px;
            justify-content: center;
        }

        .leve-uten {
            grid-column: 1/-1;

        }

        .leve-uten img {
            width: 300px;
            aspect-ratio: 1/1;
            object-fit: cover;

            gap: 10px;
            padding: 10px;
        }

        .leve-uten>img {
            width: 300px;
            aspect-ratio: 1/1;
            object-fit: cover;
        }

        .leve-uten-bilder {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            /* tre like kolonner */
            gap: 10px;
            /* valgfritt mellomrom */
        }

        .bildeboks {
            width: 200px;
            text-align: center;
            justify-content: center;
            align-items: center;
        }

        .bildeboks img {
            width: 100%;
            height: auto;
            border-radius: 20px;
            /* valgfritt for avrundede hjørner */
        }

        .bildetekst {
            margin-top: 10px;
            background-color: #f0f0f0;
            padding: 8px;
            border-radius: 10px;
            font-size: 16px;
            color: #333;
        }

        @media (max-width: 600px) {
            .galleri-rad {
                flex-direction: column;
                align-items: center;
            }
        }

        .footer {
            grid-area: footer;
            background-color: aliceblue;
            margin-top: 20px;
            align-items: baseline;
        }





        /* timeplan */


        body {
            align-items: center;
            background-color: rgb(167, 197, 223);
        }


        .grid-container {
            max-width: 1200px;
            margin: 0 auto;
            background-color: rgb(167, 197, 223);
            padding-left: 20px;
            padding-right: 20px;

        }

        th,
        td {
            border: 1px solid black;
            text-align: center;
            padding: 20px 0;

        }

        th {
            background-color: rgb(25, 81, 129);
            color: #fff;
        }

        table {
            border: 5px solid rgb(22, 63, 99);
            border-collapse: collapse;
            text-align: center;
            width: 100%;
            background-color: #fff;
            table-layout: fixed;


        }




        h1 {
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;

        }

        .IT {
            background-color: lightblue;
        }

        .Rettslære {
            background-color: rgb(171, 199, 223);
        }

        .Samfunnsøkonomi {
            background-color: rgb(189, 216, 239);

        }

        .Norsk {
            background-color: rgb(166, 213, 253);
        }

        .Fransk {
            background-color: rgb(131, 180, 222);
        }

        .Matte {
            background-color: rgb(124, 176, 222);
        }

        .Gym {
            background-color: rgb(121, 185, 240);
        }

        .Historie {
            background-color: rgb(91, 171, 241);
        }

        .Klassenstime {
            background-color: rgb(142, 182, 218);

        }

        h5 {
            font-size: 30px;
        }

        h6 {
            font-size: 30px;
        }

        .fag-valg {
            background-color: rgb(202, 225, 245);
            text-align: center;
            margin: 30px;
            padding-left: 20px;
            padding-right: 20px;

        }

        .framtiden {
            align-items: center;
            display: grid;
            grid-template-columns: 1fr 1fr;
            max-width: 1200px;
        }

        .framtiden>img {
            object-fit: contain;
            display: block;
            width: 400px;
            align-items: center;
            padding-left: 50px;
            padding-bottom: 40px;
            border-radius: 50% / 30%;
        }

        .framtiden-tekst {
            background-color: rgb(195, 234, 247);
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 20px;

        }



        /* interesser */
        h1 {
            text-align: center;
        }

        .Dans {
            background-color: aliceblue;

            display: grid;
            grid-template-columns: 1fr 2fr;
            /* bilde tar 1 del, tekst tar 2 */
            align-items: center;
        }

        .Dans img {
            padding: 20px;

        }

        .tekst-dans {
            text-align: center;
            padding: 20px;
        }

        .img {
            object-fit: contain;
            display: block;
        }

        .img img {
            width: 100%;

        }

        .danse-bilder>img {
            width: 300px;
            aspect-ratio: 1/1;
            object-fit: cover;

        }

        .danse-bilder {
            grid-template-columns: 1fr 1fr 1fr;

        }

        .danse-bilder {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            /* tre like kolonner */
            gap: 10px;
            /* valgfritt mellomrom */
            padding-top: 20px;
        }

        .danse-bilder img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }

        .konserter {
            background-color: aliceblue;
            display: grid;
            grid-template-columns: 2fr 1fr;
            /* bilde tar 1 del, tekst tar 2 */
            align-items: center;
            padding: 20px;
            margin-top: 30px;
        }

        .tekst-konserter {
            text-align: center;
            padding: 20px;
        }

        .konsert-bilder {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            /* tre like kolonner */
            gap: 10px;
            /* valgfritt mellomrom */
        }

        .konsert-bilder>img {
            width: 300px;
            aspect-ratio: 1/1;
            object-fit: cover;
        }

        .konsert-bilder img {
            width: 100%;
            height: auto;
            object-fit: cover;
            padding-top: 20px;
        }

        .venner {
            background-color: aliceblue;

            display: grid;
            grid-template-columns: 2fr 1fr;
            /* bilde tar 1 del, tekst tar 2 */
            align-items: center;
            padding: 20px;
            margin-top: 30px;

        }




        .tekst-venner {
            text-align: center;
        }

        .venner-bilder {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            /* tre like kolonner */
            gap: 10px;
            /* valgfritt mellomrom */
        }

        .venner-bilder>img {
            width: 300px;
            aspect-ratio: 1/1;
            object-fit: cover;
        }

        .venner-bilder img {
            width: 100%;
            height: auto;
            object-fit: cover;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        /* Bildegalleri */

        .bildegalleri img {

            width: 200px;
            height: 200px;
            object-fit: cover;
            clip-path: path("M 100 30 C 100 0, 0 0, 0 60 C 0 100, 100 180, 100 180 C 100 180, 200 100, 200 60 C 200 0, 100 0, 100 30 Z");
            display: grid;
            grid-template-columns: repeat 5(1fr);

        }

        .galleri1 {

            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            gap: 20px;
            padding: 20px;
        }

        .galleri2 {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            gap: 20px;
            padding: 20px;
        }

        .galleri3 {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            gap: 20px;
            padding: 20px;
        }

        .galleri4 {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            gap: 20px;
            padding: 20px;
        }

        .galleri5 {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            gap: 20px;
            padding: 20px;
        }
        